<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{login.successfulRegistration}"></title>
<th:block th:insert="auth/head.html :: css"/>
</head>
<body>
	<div class="wrapper fadeInDown">
  <div id="formContent">

      <form th:action="@{/login}" method="get">
          <p><img th:src="@{img/successful.png}" alt="" height="150" width="150"></p>
          <div align="center">
              <th:block th:text="#{login.successfulRegistration}"/>
              <br/>
              <th:block th:text="#{login.activateAccountLabel}"/>
          </div>
          <input type="submit" class="fadeIn fourth" value="OK">
      </form>

  </div>
</div>
</body>
</html>