<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Add category</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<body>
	<th:block th:insert="fragments/navBar.html"/>

	<h1 align="center">Add new car</h1>

	<div align="center">
	<form class="form-horizontal" th:action="@{/admin/editCar/{id}(id=${car.id})}" method="post" enctype="multipart/form-data">
	
    <div class="form-group"> 
      <label class="control-label col-sm-2" ><font color="Light Slate Blue" size="4">Name:</font></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Car name" name="name" th:value="${car.name}"> 
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" ><font color="Light Slate Blue" size="4">Year:</font></label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="year" value="2010" th:value="${car.year}">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" ><font color="Light Slate Blue" size="4">Transmission:</font></label>
      <div class="col-sm-10">
        	<input type="radio" name="tranmission" value="MECHANICAL"> Mechanical <br/>
    		<input type="radio" name="tranmission" value="HYDROMECHANICAL"> Hydromechanical <br/>
    		<input type="radio" name="tranmission" value="HYDRAULIC"> Hydraulic <br/>
    		<input type="radio" name="tranmission" value="ELECTROMECHANICAL"> Electromechanical <br/>
    		<input type="radio" name="tranmission" value="AUTOMATIC"> Automatic <br/>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" ><font color="Light Slate Blue" size="4">Fuel consumption per 100 km:</font></label>
      <div class="col-sm-10">
        <input type="number" class="form-control"  step="0.01" name="fuelConsumption" th:value="${car.fuelConsumption}"> 
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" ><font color="Light Slate Blue" size="4">Fuel type:</font></label>
      <div class="col-sm-10">
        	<input type="radio" name="fuelType" value="PETROL"> Petrol <br/>
			<input type="radio" name="fuelType" value="DIESEL"> Diesel <br/>
			<input type="radio" name="fuelType" value="ELECTRIC"> Electric <br/>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" ><font color="Light Slate Blue" size="4">Number of seats:</font></label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="numberOfSeats" th:value="${car.numberOfSeats}"> 
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" ><font color="Light Slate Blue" size="4">Average speed:</font></label>
      <div class="col-sm-10">
        <input type="number" class="form-control" step="0.01" name="averageSpeed" th:value="${car.averageSpeed}"> 
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" ><font color="Light Slate Blue" size="4">Price:</font></label>
      <div class="col-sm-10"> 
        1-3 days:<input type="number" class="form-control" step="0.01" name="priceFrom1To3Days" th:value="${car.priceFrom1To3Days}"> 
        4-7 days:<input type="number" class="form-control" step="0.01" name="priceFrom4To7Days" th:value="${car.priceFrom4To7Days}"> 
        8-15 days:<input type="number" class="form-control" step="0.01" name="priceFrom8To15Days" th:value="${car.priceFrom8To15Days}"> 
        16-30 days:<input type="number" class="form-control" step="0.01" name="priceFrom16To30Days" th:value="${car.priceFrom16To30Days}"> 
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  </div>
</body>
</html>