<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Add category</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">	

<body>
	<th:block th:insert="fragments/navBar.html"/>
	<div align="center">
	<h1 >Total</h1>
	<h1 ><font color="Light Slate Blue" size="7"><th:block th:text="${order.price}"/> BYN</font></h1>
	<br>
	<font size="5">Is that correct?</font>
	<br>
	<a>
		<button type="button" class="btn btn-primary">Yes</button>
	</a>
	<button type="button" class="btn btn-danger" onclick="history.back();">No</button>
	</div>
</body>
<th:block th:insert="fragments/footer.html" />
</html>