<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Categories</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<body>
	<th:block th:insert="fragments/navBar.html"/>
	<div align="center">
		<h1><span th:text="${currentCategory}"></h1>
	</div>
	<div sec:authorize="hasAuthority('ADMIN')">
	<a th:href="@{/admin/{category}/addCar(category=${currentCategory})}" class="w-100 btn btn-lg btn-primary">Add car</a>
	</div>
	
	<th:block th:each="car : ${cars}">
	<div class="card mb-4 shadow-sm" align="center">
      <div class="card-header">
        <h4 class="my-0 fw-normal"><span th:text="${car.name}"/></h4>
      </div>
      <div class="card-body">
      <a th:href="@{${'/catalog/car/'+car.id}}">
        <img alt="" th:src="@{${'/cars/'+car.id+'/'+car.previewImageName}}" width="500" height="320">
        </a>
        <br/>
        <font color="Light Slate Blue" size="4"><th:block th:text="${car.year}"/></font>
      </div>
    </div>
    </th:block>
</body>
</html>