<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title><th:block th:text="${currentCategory}" /></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<body>
	<th:block th:insert="fragments/navBar.html" />
	<th:block th:insert="fragments/searchBar.html" />
	<div align="center">
		<h1>
			<span th:if="${currentCategory!=null}" th:text="${currentCategory}"/>
		</h1>
	</div>
	<div class="d-grid gap-2 col-6 mx-auto" sec:authorize="hasAuthority('ADMIN')" style="margin-bottom: 20px" align="center">
		<a th:href="@{/admin/{category}/addCar(category=${currentCategory})}"
			class="btn btn-lg btn-primary">Add car</a>
	</div>

	<th:block th:each="car : ${cars}">
		<div class="card mb-4 shadow-sm" align="center">
			<div class="card-header">
				<h4 class="my-0 fw-normal">
					<span th:text="${car.name}" />
				</h4>
			</div>
			<div class="card-body">
				<a th:href="@{${'/catalog/car/'+car.id}}"> <img alt=""
					th:src="${'/files'+car.previewImageName}" width="500"
					height="320">
				</a> <br /> <font size="5"><th:block th:text="${car.year}" /></font>
			</div>
			<div sec:authorize="hasAuthority('ADMIN')" class="d-grid gap-2 col-6 mx-auto" style="margin-bottom: 10px">
				<a th:href="@{/admin/{car}/delete(car=${car.id})}"
					class="btn btn-lg btn-danger">Delete car</a> <br /> <br />
			</div>
		</div>
	</th:block>

	<nav>
		<ul class="pagination justify-content-center">
		<th:block th:if="${currentPage!=0}">
			<li class="page-item"><a class="page-link" th:href="@{/catalog/{category}?page={pageNum}(category=${currentCategory}, pageNum=${currentPage-1})}">Previous</a></li>
			<li class="page-item"><a class="page-link" th:href="@{/catalog/{category}?page={pageNum}(category=${currentCategory}, pageNum=${currentPage-1})}"><th:block th:text="${currentPage}"></a></li>
		</th:block>
			<li class="page-item active"><a class="page-link"><th:block th:text="${currentPage+1}"/></a></li>
		<th:block th:if="${hasNextPage==true}">	
			<li class="page-item"><a class="page-link" th:href="@{/catalog/{category}?page={pageNum}(category=${currentCategory}, pageNum=${currentPage+1})}"><th:block th:text="${currentPage+2}"></a></li>
			<li class="page-item"><a class="page-link" th:href="@{/catalog/{category}?page={pageNum}(category=${currentCategory}, pageNum=${currentPage+1})}">Next</a></li>
		</th:block>	
		</ul>
	</nav>
</body>
<th:block th:insert="fragments/footer.html" />
</html>