<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Categories</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<body>
	<th:block th:insert="fragments/navBar.html"/>
	<div align="center">
		<h1><th:block th:text="${car.name}"></h1>
	</div>
		
	<div class="card mb-4 shadow-sm" align="center">
      <div class="card-body" align="center">
      	<th:block th:each="imageName : ${images}">
        <img alt="" th:src="@{${'/cars/'+car.id+'/'+imageName}}" width="780" height="500">
        <div th:if="${car.previewImageName!=imageName}" class="d-grid gap-2 col-6 mx-auto">
          <a sec:authorize="hasAuthority('ADMIN')" th:href="@{${'/admin/'+car.id+'/'+imageName+'/delete'}}">
           <button type="button" class="btn btn-lg btn-danger">Delete Image</button>
          </a>
          </div>
          <br/><br/>
        </th:block>
        <br/>
        <br/>
        <div class="d-grid gap-2 col-6 mx-auto">
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{${'/admin/'+car.id+'/addImage'}}">
           <button type="button" class="btn btn-lg btn-primary">Add Image</button>
          </a>
        <br/>
        </div>
        
        <font size="5">
        Parameters:
        <table>
        	<tr th:if="${car.year!=null}">
        		<th>Year of issue:</th>
        		<th><th:block th:text="${car.year}"/></th>
        	</tr>
	        <tr th:if="${car.numberOfSeats!=null}">
	        	<th>Number of seats:</th>
	        	<th><th:block th:text="${car.numberOfSeats}"/></th>
	        </tr>
	        <tr th:if="${car.averageSpeed!=null}">
	        	<th>Average speed:</th>
	        	<th><th:block th:text="${car.averageSpeed}"/></th>
	        </tr>
	        <tr th:if="${car.tranmission!=null}">
	        	<th>Tranmission:</th>
	        	<th><th:block th:text="${car.tranmission.name()}"/></th>
	        </tr>
	        <tr th:if="${car.fuelType!=null}">
	        	<th>Fuel type:</th>
	        	<th><th:block th:text="${car.fuelType.name()}"/></th>
	        </tr>
	        <tr th:if="${car.fuelConsumption!=null}">
	        	<th>Fuel consumption:</th>
	        	<th><th:block th:text="${car.fuelConsumption}"/></th>
	        </tr>   
        </table>
        <br/>
         <table>
   			<tr>
    			<th>Time</th>
    			<th>Price</th>
   			</tr>
   			<tr>
    			<td>1-3 days</td>
    			<td><th:block th:text="${car.priceFrom1To3Days}+' BYN'"></td>
 			</tr>
 			<tr>
    			<td>4-7 days</td>
    			<td><th:block th:text="${car.priceFrom4To7Days}+' BYN'"></td>
 			</tr>
 			<tr>
    			<td>8-15 days</td>
    			<td><th:block th:text="${car.priceFrom8To15Days}+' BYN'"></td>
 			</tr>
 			<tr>
    			<td>16-30 days</td>
    			<td><th:block th:text="${car.priceFrom16To30Days}+' BYN'"></td>
 			</tr>
 		</table>
 		</font>
      </div>
       <div class="d-grid gap-2 col-6 mx-auto">
      	<a sec:authorize="hasAuthority('ADMIN')" th:href="@{${'/admin/'+car.id+'/edit'}}">
      		<button type="button" class="btn btn-lg btn-primary">Edit</button>
      	</a>
      </div>
    </div>
</body>
</html>