<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Categories</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<body>
	<th:block th:insert="fragments/navBar.html" />
	<th:block th:insert="fragments/searchBar.html" />


	<div sec:authorize="hasAuthority('ADMIN')" class="d-grid gap-2 col-6 mx-auto" style="margin-bottom: 20px" align="center">
		<a th:href="@{/admin/addCategory}"
			class="btn btn-lg btn-primary" th:text="#{category.addCategory}"></a>
	</div>

	<th:block th:each="category : ${categories}">
		<div class="card mb-4 shadow-sm" align="center">
            <a th:href="@{/catalog/{categoryId}(categoryId=${category.id})}">
			<div class="card-header">
				<h4 class="my-0 fw-normal">
					<span th:text="${category.name}" />
				</h4>
			</div>
			<div class="card-body">
						<img alt="" th:src="${'/files'+category.imagePath}"
					width="500" height="320">
			</div>
            </a>
			<br /> <br />
			<div sec:authorize="hasAuthority('ADMIN')" class="d-grid gap-2 col-6 mx-auto" style="margin-bottom: 10px">
				<a th:href="@{/admin/category/{categoryId}/delete(categoryId=${category.id})}"
					class="btn btn-lg btn-danger" th:text="#{category.deleteCategory}"></a> <br /> <br />
			</div>
			</div>
	</th:block>
</body>
<th:block th:insert="fragments/footer.html" />
</html>