<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Categories</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<body>
	<th:block th:insert="fragments/navBar.html"/>
	<div sec:authorize="hasAuthority('ADMIN')">
	<a th:href="@{/admin/addCategory}" class="w-100 btn btn-lg btn-primary">Add category</a>
	</div>
	<!--  <tr th:each="car : ${cars}">
		<td>
		id: <span th:text="${car.id}"/>
		<br/>
			<form method="POST" enctype="multipart/form-data"
				th:action="@{/cars/{cid}/img(cid=${car.id})}">
				<table>
					<tr>
						<td>File to upload:</td>
						<td><input type="file" name="file" /></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Upload" /></td>
					</tr>
				</table>
			</form>
		</td>
	</tr> -->
</body>
</html>