<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
<footer class="page-footer bg-light text-center text-md-left mt-0">
<div id="map"></div>

	<div class="container-fluid">
		<div class="row">

			<!--First column-->
			<div class="col-md-6">
				<h5 class="title mb-3">Footer Content</h5>
				<p>Here you can use rows and columns here to organize your
					footer content.</p>
			</div>
			
			<!--/.First column-->

			<!--Second column-->
			<div class="col-md-6">
				<h5 class="title mb-3"><font size="5">Contacts</font></h5>
				<ul>
					<li><font size="4">+375(xx)xxx-xx-xx</font></li>
					<li><font size="4">+375(xx)xxx-xx-xx</font></li>
				</ul>
			</div>
		</div>
	</div>
	<!--/.Footer Links-->

</footer>
</html>