<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Home</title>
<meta name="viewport"
	content="initial-scale=1.0,
            width=device-width" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		  crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""></script>

</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<body>
	<th:block th:insert="fragments/navBar.html" />

	<br>
	<br>
	<br>
	<div align="center">
	<div class="card mb-5" th:if="${latestCar!=null}" style="width: 100%">
		<div class="container">
			<table>
				<tr>
					<td>
						<h1 align="center">
							<font color="Light Slate Blue">
								<th:block th:text="#{home.latest}"/>
								<th:block th:text="${latestCar.name}"/> &nbsp; &nbsp;
							</font>
						</h1> <a th:href="@{/catalog/car/{id}(id=${latestCar.id})}"><button
								type="button" class="btn btn-primary" th:text="#{home.moreDetails}"></button></a>
					</td>
					<td><img align="center" alt=""
						th:src="${'/files'+latestCar.getPreviewImagePath()}" width="700"
						height="442"></td>
				</tr>
			</table>
		</div>
	</div>
	</div>
	<br>
	<br>
	<h1 align="center" th:text="#{home.weAreHere}"></h1>
	<div style="width: 70%; height: 480px; margin-left: auto; margin-right: auto" id="map"></div>
	<script>
		var map = L.map('map').setView([53.669349, 23.870931], 13);

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		L.marker([53.669349, 23.870931]).addTo(map)
				.bindPopup('Rental Service')
				.openPopup();
	</script>
</body>
<th:block th:insert="fragments/footer.html" />
</html>